<div id="post-19" class="post">
  <div class="postheader">
    <div class="commentcount" style="width: 78px;">
        <div style="border: 1px solid gray; width: 64px;">
          <%= image_tag 'boleto_itau.jpg', :width => 64 %>
        </div>
    </div>
    <div class="posttitle" >
      <h2><a href="http://www.msbank.com.br/home/">Banco MSBANK - 127</a></h2>
    </div>
  </div>
  <div class="postcontent">
    <%= render :partial => "form", :locals => {:banco => 'msbank'} %>
  </div>
</div>